body
{
position:relative;
margin:0;
padding:0;
font-size:12px;
color:#000;
line-height:1.2;
background:#ffffff;
}

div,span,textarea,ul,li,dl,dt,dd,label,p,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,select
{
position:relative;
margin:0;
padding:0;
border:0;
list-style-type:none;
line-height:1.2;
word-wrap:break-word;
font-weight:normal;
}
img,input
{
margin:0;
padding:0;
border:0;
}
a
{
margin:0;
padding:0;
text-decoration:none;
border:0;
font-size:12px;
color:#000;
}
.m0
{
margin:0!important;
}
.p0
{
padding:0!important;
}
.pt5
{
padding-top:5px!important;
}
.pt10
{
padding-top:10px!important;
}
.pt15
{
padding-top:15px!important;
}
.pt20
{
padding-top:20px!important;
}
.pl5
{
padding-left:5px!important;
}
.pl10
{
padding-left:10px!important;
}
.pl15
{
padding-left:15px!important;
}
.pl20
{
padding-left:20px!important;
}
.pr5
{
padding-right:5px!important;
}
.pr10
{
padding-right:10px!important;
}
.pr15
{
padding-right:15px!important;
}
.pr20
{
padding-right:20px!important;
}
.pb5
{
padding-bottom:5px!important;
}
.pb10
{
padding-bottom:10px!important;
}
.pb15
{
padding-bottom:15px!important;
}
.pb20
{
padding-bottom:20px!important;
}
.mt5
{
margin-top:5px!important;
}
.mt10
{
margin-top:10px!important;
}
.mt15
{
margin-top:15px!important;
}
.mt20
{
margin-top:20px!important;
}
.ml5
{
margin-left:5px!important;
}
.ml10
{
margin-left:10px!important;
}
.ml15
{
margin-left:15px!important;
}
.ml20
{
margin-left:20px!important;
}
.mr5
{
margin-right:5px!important;
}
.mr10
{
margin-right:10px!important;
}
.mr15
{
margin-right:15px!important;
}
.mr20
{
margin-right:20px!important;
}
.mb5
{
margin-bottom:5px!important;
}
.mb10
{
margin-bottom:10px!important;
}
.mb15
{
margin-bottom:15px!important;
}
.mb20
{
margin-bottom:20px!important;
}
.bold
{
font-weight:bold!important;
}
.boldnormal
{
font-weight:normal!important;
}
.cur
{
cursor:pointer!important;
}
.fLeft
{
float:left!important;
}
.fRight
{
float:right!important;
}
.bgnone
{
background:none!important;
}
.block
{
display:block!important;
}
.none
{
display:none!important;
}
.clear
{
clear:both!important;
}

.black-btn:link,.black-btn:visited
{
display:inline-block;
text-align:center;
height:36px;
line-height:36px;
color:#fff;
}
.black-btn em
{
float:left;
font-style:normal;
width:98%;
height:36px;
line-height:36px;
background:url(../images/main/common.png) no-repeat 0 0;
}
.black-btn span
{
display:inline-block;
float:left;
width:2%;
height:36px;
background:url(../images/main/common.png) no-repeat right 0;
}
.width100
{
width:100px!important;
}
.width200
{
width:200px!important;
}



/*input_text*/
.inputtext
{
height:auto;
}
.inputtext p
{
float:left!important;
width:3px!important;
height:25px!important;
overflow:hidden!important;
background:url(../images/main/common.png) no-repeat 0 -42px!important;
margin:0!important;
padding:0!important;
clear:none!important;
}
.inputtext input
{
float:left!important;
height:25px!important;
line-height:25px!important;
overflow:hidden!important;
background:url(../images/main/common.png) no-repeat right -42px!important;
padding:0 3px 0 0!important;
margin:0!important;
color:#777;
}
.input57
{
width:57px;
}
.input57 input
{
width:50px;
}
.input82
{
width:82px;
}
.input82 input
{
width:75px;
}
.input120
{
width:120px;
}
.input120 input
{
width:113px;
}

.input145
{
width:145px;
}
.input145 input
{
width:138px;
}
.input174
{
width:174px;
}
.input174 input
{
width:167px;
}
.input237
{
width:237px;
}
.input237 input
{
width:230px;
}
.input335
{
width:335px;
}
.input335 input
{
width:328px;
}
.input344
{
width:344px;
}
.input344 input
{
width:337px;
}
.input129
{
width:129px;
}
.input129 input
{
width:122px;
}
/*input_text_end*/

/*alert*/
.black_opacity
{
clear:both;
display:none;
position:absolute;
top:0;
left:0;
z-index:10004;
width:100%;
height:100%;
background:#000;
opacity:0.5;
filter:alpha(opacity=50);
}
.cj_topbg
{
clear:both;
width:380px;
height:5px;
overflow:hidden;
background:url(../images/main/btn_all.png) no-repeat 0 -799px;
}
.cj_bottombg
{
clear:both;
width:380px;
height:5px;
overflow:hidden;
background:url(../images/main/btn_all.png) no-repeat 0 -804px;
}
.pay_dialog,
.confirm_dialog,
.alert_dialog
{
clear:both;
display:none;
position:fixed;
_position:absolute;
width:380px;
height:auto;
overflow:hidden;
top:100px;
left:37%;
z-index:10005;
}
.pay_dialog_coco
{
clear:both;
width:300px;
height:auto;
overflow:hidden;
margin:0 auto;
background:#fff;
padding:20px 40px 20px 40px;
}
.pay_dialog label,
.confirm_dialog label,
.alert_dialog label	
{
clear:both;
display:block;
position:relative;
width:100%;
text-align:center;
padding:0 0 10px 0;
font-weight:bold;
font-size:18px;
}
.pay_dialog p,
.confirm_dialog p,
.alert_dialog p
{
clear:both;
width:100%;
position:relative;
padding-top:7px;
text-align:center;
}
.cross_cha
{
clear:both;
position:absolute;
right:10px;
top:10px;
cursor:pointer;
}
.clear_red_warm
{
clear:both;
color:#F00;
font-size:12px;
font-weight:normal;
}


.aly_ul
{
clear:both;
width:98%;
height:auto;
overflow:hidden;
margin:20px 0 0 0;
border:1px solid #ccc;
}
.aly_ul li{
clear:both;
width:100%;
color:#666;
padding:5px;
}


.lineauto_content
{
clear:both;
width:100%;
height:auto;
overflow:hidden;
padding-bottom:10px;
}
.lineauto_content p
{
float:left;
width:60px;
height:25px;
line-height:25px;
text-align:right;
margin-right:5px;
padding:0;
}
.pro_commment_area
{
width:200px;
height:180px;
resize:none;
float:left;
margin:0;
padding:0;
border:1px solid #ccc;
}




.error_content
{
clear:both;
position:relative;
width:890px;
height:auto;
padding-bottom:20px;
padding-left:50px;
background:url(../images/main/cha.png) no-repeat 0 0;
}
.error_content label
{
display:block;
font-size:20px;
font-weight:bold;
padding-bottom:5px;
}
/*alert_end*/
.function-list h3{
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
.function-list a{
    margin-bottom: 20px;
}