/* line 5, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 42, remSprites.scss */
.icon-0 {
  background-repeat: no-repeat;
  background-image: url('../remSprites/images-sb970da5922.png');
  background-position: 0 0;
  background-size: 0.51563rem 6.84375rem;
  height: 0.48438rem;
  width: 0.54688rem;
}

/* line 42, remSprites.scss */
.icon-1 {
  background-repeat: no-repeat;
  background-image: url('../remSprites/images-sb970da5922.png');
  background-position: 0 -0.70313rem;
  background-size: 0.51563rem 6.84375rem;
  height: 0.35938rem;
  width: 0.53125rem;
}

/* line 42, remSprites.scss */
.icon-2 {
  background-repeat: no-repeat;
  background-image: url('../remSprites/images-sb970da5922.png');
  background-position: 0 -1.39063rem;
  background-size: 0.51563rem 6.84375rem;
  height: 0.48438rem;
  width: 0.54688rem;
}

/* line 42, remSprites.scss */
.icon-3 {
  background-repeat: no-repeat;
  background-image: url('../remSprites/images-sb970da5922.png');
  background-position: 0 -2.09375rem;
  background-size: 0.51563rem 6.84375rem;
  height: 0.46875rem;
  width: 0.54688rem;
}

/* line 42, remSprites.scss */
.icon-4 {
  background-repeat: no-repeat;
  background-image: url('../remSprites/images-sb970da5922.png');
  background-position: 0 -2.79688rem;
  background-size: 0.51563rem 6.84375rem;
  height: 0.51563rem;
  width: 0.54688rem;
}

/* line 42, remSprites.scss */
.icon-5 {
  background-repeat: no-repeat;
  background-image: url('../remSprites/images-sb970da5922.png');
  background-position: 0 -3.5rem;
  background-size: 0.51563rem 6.84375rem;
  height: 0.51563rem;
  width: 0.54688rem;
}

/* line 42, remSprites.scss */
.icon-6 {
  background-repeat: no-repeat;
  background-image: url('../remSprites/images-sb970da5922.png');
  background-position: 0 -4.20313rem;
  background-size: 0.51563rem 6.84375rem;
  height: 0.48438rem;
  width: 0.54688rem;
}

/* line 42, remSprites.scss */
.icon-7 {
  background-repeat: no-repeat;
  background-image: url('../remSprites/images-sb970da5922.png');
  background-position: 0 -4.90625rem;
  background-size: 0.51563rem 6.84375rem;
  height: 0.45313rem;
  width: 0.53125rem;
}

/* line 42, remSprites.scss */
.icon-8 {
  background-repeat: no-repeat;
  background-image: url('../remSprites/images-sb970da5922.png');
  background-position: 0 -5.59375rem;
  background-size: 0.51563rem 6.84375rem;
  height: 0.48438rem;
  width: 0.54688rem;
}

/* line 42, remSprites.scss */
.icon-9 {
  background-repeat: no-repeat;
  background-image: url('../remSprites/images-sb970da5922.png');
  background-position: 0 -6.29688rem;
  background-size: 0.51563rem 6.84375rem;
  height: 0.48438rem;
  width: 0.54688rem;
}
