body { font-family:"Microsoft YaHei UI", Helvetica, sans-serif; background-color:#022b54; margin:0; padding:0; line-height:1.231; height:100%; font-size:12px; min-width:900px; position:relative; }
em { font-style:normal; }
iframe.success{ height:436px; overflow:hidden; width:960px; *width:960px; border:none; margin-top:20px; }
a:link,a:visited{color:#062649;text-decoration:none;outline:none;}
a:hover,a:active {color:#062649;text-decoration:none !important;outline:none;}
.blue,.blue a:link,.blue a:visited{ color:#004898; }
.grey,.grey a:link,.grey a:visited{ color:#7c7b7b; }
div,article,aside,dialog,figure,footer,header,legend,nav,section,address,h1,h2,h3,img,ul,li,dl,dd,dt,a,p{ position:relative; list-style:none; margin:0; padding:0; }	
div,article,aside,dialog,figure,footer,header,legend,nav,section,address,h1,h2,h3,p,img{ display:block; }
ul{ height:100%; }
ul li { float:left; }
.IE_margin_top{ *margin-top:-3px; }
div,article,aside,dialog,figure,footer,header,legend,nav,section,address,h1,h2,h3,a,ul,li,dl,dd,dt,p,input,iframe{ border:0; }
.clearfix:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }
.clear{ clear:both; }
.yellow { color:#f6ff00; }

/* float-banner */
.floatlink { height:151px; position:absolute; left:957px; top:0; width:112px; z-index:9900; overflow:hidden; cursor: pointer; }
.floatlink-wrap { position:relative; width:112px; height:151px; background:url(../images/floatlink.png) no-repeat; }
.floatlink-wrap span { color: #fff; text-align: center; width: 112px; display: block; bottom: 25px; left: 0; position: absolute; }

.cool-teach { width:736px; height:508px; background:url(../images/cool-teach.png) no-repeat; }
.cool-href-jf { width:132px; height:50px; cursor: pointer; position: absolute; top: 19px; left: 212px; }
.cool-href-hd { width:132px; height:50px; cursor: pointer; position: absolute; top: 19px; right: 245px; }
.cool-href-next { width:142px; height:73px; cursor: pointer; position: absolute; bottom: 23px; right: 35px; }

.cool-teach02 { width:736px; height:508px; background:url(../images/cool-teach01.png) no-repeat; }
.cool-href-jf02 { width: 132px; height: 50px; cursor: pointer; position: absolute; top: 21px; left: 218px; }
.cool-href-hd02 { width: 132px; height: 50px; cursor: pointer; position: absolute; top: 21px; right: 343px; }
.cool-href-next02 { width: 151px; height: 52px; cursor: pointer; position: absolute; bottom: 34px; right: 335px; }
.cool-href-last02 { width: 150px; height: 59px; cursor: pointer; position: absolute; bottom: 31px; left: 70px; }

.cool-teach03 { width:736px; height:508px; background:url(../images/cool-teach02.png) no-repeat; }
.cool-href-last03 { width: 150px; height: 59px; cursor: pointer; position: absolute; bottom: 31px; left: 255px; }
.cool-href-pes { width: 238px; height: 93px; cursor: pointer; position: absolute; bottom: 52px; right: 50px; }

.cool-jf { width:736px; height:511px; background:url(../images/cool-teach03.png) no-repeat; }
.cool-href-teach { width: 132px; height: 50px; cursor: pointer; position: absolute; top: 19px; left: 1px; }
.cool-href-hd01 { width: 132px; height: 50px; cursor: pointer; position: absolute; top: 19px; right: 245px; }
.cool-jf-rule { width: 670px; height: 371px; overflow: hidden; position: absolute; top: 109px; left: 35px; color:#fff; }
.cool-jf-rule img { display: inline-block; }
.cool-rule-jf-main { width:644px; }

.cool-hd { width:736px; height:511px; background:url(../images/cool-teach04.png) no-repeat; }
.cool-href-jf01 { width: 132px; height: 50px; cursor: pointer; position: absolute; top: 19px; right: 453px; }
.cool-teach-close { width: 50px; height: 50px; position: absolute; top: 97px; right: 12px; }
.cool-gz-close { width: 50px; height: 50px; position: absolute; background: url(../images/cool-ico.png) no-repeat 0 -128px; top: 92px; right: 15px; }