body
{
position:relative;
margin:0;
padding:0;
font-size:12px;
color:#000;
line-height:1.2;
background:#ffffff;
}

div,span,textarea,ul,li,dl,dt,dd,label,p,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,select
{
position:relative;
margin:0;
padding:0;
border:0;
list-style-type:none;
line-height:1.2;
word-wrap:break-word;
font-weight:normal;
}
img,input
{
margin:0;
padding:0;
border:0;
}
a
{
margin:0;
padding:0;
text-decoration:none;
border:0;
font-size:12px;
color:#000;
}
.ms li{ float:left;}
.m_time {
    background:url(../images/icon_time.png) no-repeat;
    float: left;
    height: 20px;
    width: 18px;
}
.m_time_0{
			background-position:0px 0px;
		}
.m_time_1{
	background-position:0px -20px;
}
.m_time_2{
	background-position:0px -40px;
}
.m_time_3{
	background-position:0px -60px;
}
.m_time_4{
	background-position:0px -80px;
}
.m_time_5{
	background-position:0px -100px;
}
.m_time_6{
	background-position:0px -120px;
}
.m_time_7{
	background-position:0px -140px;
}
.m_time_8{
	background-position:0px -160px;
}
.m_time_9{
	background-position:0px -180px;
}